<!DOCTYPE html>
<html ng-app="calfScramble">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>Calf Scramble Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/App/Scripts/Js/modernizr-2.8.3.js"></script>
    <script src="~/App/Scripts/Js/jquery-1.9.1.min.js"></script>
    <script src="~/App/Scripts/Js/jquery-ui.min.js"></script>
    <script src="~/App/Scripts/Js/angular.min.js"></script>
    <script src="~/App/Scripts/Js/igniteui-angularjs.min.js"></script>
    <link href="~/App/Scripts/css/infragistics.theme.css" rel="stylesheet" />

    <link href="~/App/Scripts/css/infragistics.css" rel="stylesheet" />

    <link href="~/App/Scripts/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/App/Styles/animations.css" rel="stylesheet" />
    <script src="~/Scripts/angular-animate.js"></script>

    <script src="~/App/Scripts/Js/ngStorage.min.js"></script>
    <script src="~/App/Scripts/Js/jquery.dataTables.min.js"></script>

    <script src="~/App/Scripts/Js/dataTables.bootstrap.min.js"></script>
    <script src="~/App/Scripts/Js/FileSaver.js"></script>
    <script src="~/App/Scripts/Js/Blob.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/infragistics.core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/infragistics.lob.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_collections.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_text.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_io.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_ui.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.documents.core_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_collectionsextended.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.excel_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_threading.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.ext_web.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.xml.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.documents.core_openxml.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.excel_serialization_openxml.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/modules/infragistics.gridexcelexporter.js"></script>

    <script src="http://cdn-na.infragistics.com/igniteui/2017.1/latest/js/extensions/igniteui-angular.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


    <script src="~/App/Scripts/calfScrambleApp.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/App/Scripts/mainController.js"></script>
    <script src="~/App/Scripts/globalServices.js"></script>

    <script src="~/App/Home/homeController.js"></script>
    <script src="~/App/MonthlyExpense/expenseController.js"></script>
    <script src="~/App/Correspondence/correspondenceController.js"></script>
    <script src="~/App/Essays/essayController.js"></script>
    <script src="~/App/Summary/summaryController.js"></script>
    <style>
        .borderless > thead > tr > th,
        .borderless > tbody > tr > th,
        .borderless > tfoot > tr > th,
        .borderless > thead > tr > td,
        .borderless > tbody > tr > td,
        .borderless > tfoot > tr > td {
            border-top: none;
        }
        li {
            padding: 8px;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        a:hover, a:focus {
            color: white !important;
            text-decoration: none;
            outline: none;
        }

        .active {
            font-size: 30px;
            color: white !important;
            border-bottom: 5px solid red;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('a').click(function () {
                $('a').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
</head>

<body ng-controller="MainController" ng-cloak>
    @{Html.RenderPartial("_Header");}
    <h4 style="text-align:center;">
        Calf Scramble Reporting - Welcome {{ scramblerLogIn.customerName}}
        <button type="button" class="btn btn-default btn-primary btn-blue"
                onclick="location.href='@Url.Action("Logout2","Home")'">
            Log Out
        </button>
    </h4>
    <div class="navbar navbar-default navbar-inverse" style="margin-top:20px; width:95%; margin-left:30px; align-content:center;">
        <ul class="nav navbar-nav">
            <li><a href="home">Home</a></li>
            <li><a href="expense">Expenses</a></li>
            <li><a href="correspondence">Correspondence</a></li>
            <li><a href="essays">Essays and Business Plan</a></li>
            <li><a href="summary">Summary</a></li>
            <li ng-show="true"><a href="assignment">Assignment</a></li>
        </ul>
    </div>
    <div class="container-fluid" style="width:95%;">
        <div style="margin-left:20px;">
            <strong>Questions: Please contact the Calf Scramble Department at rodeosupport@hlsr.com or 832-667-1138</strong>
        </div>
        @RenderBody()
    </div>

    <div style="margin-top:40px;">
        @{Html.RenderPartial("_Footer");}
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>